# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456789@localhost:5432/backend-just-connect?schema=public"

JWT_SECRET=bjc_secret2024

FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:3000"
EMAIL_FROM="Just Connect <jc@jc.com.br>"
MAILTRAP_USER="b066dd719e5914" 
MAILTRAP_PASS="4b17965b3fe20a"